@{
    ViewData["Title"] = "Life Game";
}
<link rel="stylesheet" href="~/css/game.css" />
<body>

    <canvas id="myCanvas" width="1000" height="1000" ></canvas>
   
    <environment include="Development">
        <script src="~/js/game.js"></script>
    </environment>
</body>