@page
@model IndexModel
@{
    ViewBag.Title = "Developer Tools";
}

<style>
    body {
        background: url(http://upload.akusherstvo.ru/images/1010007.png);
    }
</style>
<div class="jumbotron" style="background-color: #ecebe3" />

<style>
    h1 {
        font-family: 'Book Antiqua', Calibri, Arial, 'Times New Roman';
        font-weight: bold;
    }

    h2 {
        font-family: 'Book Antiqua', Calibri, Arial, 'Times New Roman';
        font-weight: bold;
    }

    h3 {
        font-family: 'Book Antiqua', Calibri, Arial, 'Times New Roman';
        font-weight: bold;
    }


    ul {
        font-family: 'Book Antiqua', Calibri, Arial, 'Times New Roman';
        font-size: 150%;
    }

    p {
        text-indent: 30px; /* Отступ первой строки в пикселах */
        text-align: justify;
        font-family: 'Book Antiqua', Calibri, Arial, 'Times New Roman';
        font-size: 110%;
    }

    .lead {
        text-shadow: 1px 1px 1px black, 0 0 1em red;
    }

    .picture {
        text-align: center;
    }
</style>

<h1>Инструменты разработчика в браузерах</h1>

<p class="picture">
    <img src="http://ipic.su/img/img7/fs/Hx0dO_-AWg.1509699582.jpg" class="img-rounded" width="40%" height="40%" vspace="5" hspace="20" alt="Это абсолютный адрес размещения изображения">
</p>
<p>
    Каждый современный интернет-браузер оснащён мощными инструментами для веб-разработчика.
    Эти инструменты позволяют делать различные вещи, от изучения загруженных в настоящий момент HTML, CSS и JavaScript до отображения в каких
    ресурсах нуждается страница и как долго она будет загружаться. С помощью инструментов веб-разработчика можно производить отладку сайта.
</p>

<h2> Как открыть инструменты веб-разработчика в браузере? </h2>

<p>
    Есть три варианта действий, которые помогут отобразить панель разработчика:
    <br><br>
    <b> 1) Клавиатура.</b> Ctrl + Shift + I или клавиша - F12
    Для Mac OS X. (сочетание клавиш - ⌘ + ⌥ + I  (Command +Option + I))
    <br><br>
    <b>2) Панель Меню. </b>
    <br>
<p><i> Firefox. </i> Открыть меню ➤ Разработка➤ Инструменты разработки </p>
<p class="picture">
    <img src="http://ipic.su/img/img7/fs/2017-11-02_23-59-22.1509650490.png" class="img-rounded" width="75%" height="75%" vspace="5" hspace="20" alt="Это абсолютный адрес размещения изображения">
</p>
<p>
    <br>
<p><i>        Chrome.    </i>Дополнительные инструменты ➤ Инструменты разработчика</p>
<p class="picture">
    <img src="http://ipic.su/img/img7/fs/2017-11-02_23-57-29.1509650539.png" class="img-rounded" width="75%" height="75%" vspace="5" hspace="20" alt="Это абсолютный адрес размещения изображения">
</p>
<p>
    <i> Safari. </i> Разработка ➤ Показать Web Inspector . Если не видно меню "Разработка", зайдите в  Safari ➤ Настройки ➤ Дополнительно,  и проверьте стоит ли галочка напротив "Показать меню разработки".
</p><br>
<p>
    <i> Opera. </i> Меню ➤ Разработка ➤ Инструменты разработчика. Если не видно меню "Разработка",  включите его отображение, перейдя в Меню ➤ Другие инструменты ➤ Показать меню разработчика.
</p>
<br>
<p>
    <b>3) Контекстное меню. </b> Нажмите правой кнопкой мыши на любом участке веб-страницы (Ctrl-клик для Mac), появится контекстное меню,
    в котором нужно выбрать пункт Исследовать Элемент / Проверить элемент / Просмотреть код. (Этот способ отобразит
    код того элемента, на котором вы щёлкнули правой кнопкой.)
</p>

<p class="picture">
    <img src="http://ipic.su/img/img7/fs/2017-11-03_00-02-39.1509650563.png" class="img-rounded" width="75%" height="75%" vspace="5" hspace="20" alt="Это абсолютный адрес размещения изображения">
</p>

<h2>Inspector: DOM обозреватель и CSS редактор </h2>
<br>
<p>
    По умолчанию, в панели открывается вкладка <b>Проводник DOM / Инспектор / Elements </b>. Этот инструмент позволяет видеть, как HTML-код выглядит
    на странице в настоящем времени. Также может видеть <b>CSS</b>, который применён к каждому элементу на странице. Это позволяет в реальном времени
    редактировать как HTML, так и CSS. Внесённые изменения можно увидеть непосредственно в окне браузера.
</p>
<h3><i>Обзор DOM inspector </i></h3>
<p>
    Пункты меню при нажатии правой кнопкой мыши по элементу HTML в DOM inspector могут различаться в разных браузерах, но важными из них являются
    одни и те же:
    <br>
<p>
    •	<b>Удалить узел </b>
    (иногда Удалить элемент). Удаляет текущий элемент. <br>
</p>
<p>
    •	<b>
        Править как HTML
    </b>
    (иногда Добавить атрибут/Править текст). Позволяет редактировать HTML и видеть результат "вживую". Очень полезно для отладки и тестирования. <br>
</p>
<p>
    •	<b>:hover/</b>
    (как будто навели на элемент курсор) <b>
        :active/
    </b>
    (зажатая на элементе левая кнопка мыши) <b>
        :focus/
    </b>
    (поставленный фокус на элемнте) <b>
        :visited/
    </b>
    (ссылка, которую уже нажимали). <br>
</p>
<p>
    •	<b>Копировать/Копировать как HTML.</b> Копирует текущий выделенный HTML.<br>
</p>
<p>
    С помощью инструмента <b>«Выбрать элемент со страницы»</b> можно выбирать любой элемент в области просмотра страницы.
    Когда мышкой наводят на определенный элемент, в html открывается место, описывающее его.
</p>
<p><i>Chrome:</i></p>
<p class="picture">
    <img src="http://ipic.su/img/img7/fs/2017-11-03_02-42-34.1509660008.png" class="img-rounded" width="40%" height="40%" vspace="5" hspace="20" alt="Это абсолютный адрес размещения изображения">
</p>
<p><i>Mozilla:</i></p>
<p class="picture">
    <img src="http://ipic.su/img/img7/fs/2017-11-03_00-30-02.1509651103.png " class="img-rounded" width="90%" height="90%" vspace="5" hspace="20" alt="Это абсолютный адрес размещения изображения">
</p>

<p>Очевидно, что при обновлении страницы все изменения исчезнут.</p>
<h3>
    <i>
        Проверка оптимизации для мобильных устройств
    </i></h3>
           
                <p>На сегодняшний день оптимизация сайта для мобильных устройств – неотъемлемая часть работы по поисковой оптимизации. Проверить мобильную 
    конфигурацию страницы и контента можно, используя режим эмуляции мобильных устройств – <b>«Device Mode» </b>. Для перехода в него нужно нажать на иконку устройства
    в правом верхнем углу панели или же использовать сочетание клавиш: <i>Command+Shift+M </i> (Mac) или <i>Ctrl+Shift+M </i>(Windows, Linux), когда панель открыта.</p>
               <p><i>Mozilla:</i></p>
<p class="picture">
    <img src="http://ipic.su/img/img7/fs/2017-11-03_02-58-55.1509660037.png " class="img-rounded" width="40%" height="40%" vspace="5" hspace="20" alt="Это абсолютный адрес размещения изображения">
</p>
 <p>В режиме <b>«Device» </b> можно выбрать адаптивный видовой экран или конкретное устройство для проверки страницы. Если нужное устройство отсутствует 
    в списке, его можно будет добавить с помощью опции <b>«Edit» </b></p>
<p class="picture">
    <img src="http://ipic.su/img/img7/fs/2017-11-03_04-17-13.1509664689.png " class="img-rounded" width="40%" height="40%" vspace="5" hspace="20" alt="Это абсолютный адрес размещения изображения">
</p>
<h3><i>Обзор CSS редактора</i></h3>

<p>По умолчанию, <b>CSS редактор</b> отображает CSS свойства, применённые к текущему выбранному элементу: </p>
<p class="picture">
    <img src="http://ipic.su/img/img7/fs/2017-11-03_01-00-40.1509652902.png " class="img-rounded" width="60%" height="60%" vspace="5" hspace="20" alt="Это абсолютный адрес размещения изображения">
</p>
<p><b>Полезные функции:</b>
    <ul>
        <li>Свойства, применённые к текущему элементу, отображаются в порядке убывания приоритета. 
        </li> 
        <li> Можно убирать галочки напротив свойств, для того чтобы видеть, что получится, если их удалить.<br>
        </li>
              <li>Нажав на имя свойства или его значение, откроется текстовое окошко, в котором можно задать новые значения и увидеть,
        как изменится выбранный элемент с новыми значениями.<br>
        </li>
        <li>Рядом с каждым свойством указаны ссылки. Щелчок по этому пути переносит в окно, где можно редактировать этот CSS и сохранить.<br>
        </li>
        <li>Можно также нажать на закрывающуюся фигурную скобку любого свойства, чтобы вывести текстовое поле на новую строку, где 
      можно написать совершенно новую декларацию для страницы.
        </li>
</ul>
    </p>
<p>
    <b>Другие вкладки в  CSS редакторе</b>
    <ul>
        <li>
            <b>Вычислено:</b> Здесь указаны все вычисления свойств выделенного элемента (окончательные, нормализованные значения применённые браузером).
        </li>
        <li>
            <b>Блоковая модель </b>: Отображает блочную модель выделенного элемента, здесь можно увидеть внешние и внутренние отступы, а также границы применённые к элементу, здесь также указан их размер.<br>
        </li>

    </ul>
<p class="picture">
    <img src="http://xiper.net/assets/images/lessons/css/box-model/box-model.png "  width="40%" height="40%" vspace="5" hspace="20" alt="Это абсолютный адрес размещения изображения">
</p>

<h2>Консоль JavaScript </h2>

<p><i>В Google Chrome для удобства можно перемещать вкладки друг относительно друга.</i></p>
<p>Для доступа к консоли из любого браузера нужно нажать на кнопку <b>Console </b>. (В Internet Explorer Ctrl + 2.). 
   <b> Консоль </b> – это прямой доступ к скриптовому движку браузера.</p>
<p>В консоли обычно появляются какие-то ошибки или сообщения JavaScript.
 Можно попробовать ввести фрагменты кода в консоль:
</p>
<pre class="brush: js line-numbers  language-js"> <font size="4" <code class=" language-js"><span class="token function">alert </span> <span class="token punctuation">(</span><span class="token string">'hello!'</span> <span class="token punctuation">)</span><span class="token punctuation">;</span><span class="line-numbers-rows"><span></span></span></code> </font></pre>
<p class="picture">
    <img src="http://ipic.su/img/img7/fs/2017-11-03_02-05-24.1509656774.png" class="img-rounded" width="30%" height="30%" vspace="5" hspace="20" alt="Это абсолютный адрес размещения изображения">
</p>
<p>А при вводе кода, указанного ниже, на экране появится гиф-анимация.</p>

    <pre class="brush: js line-numbers  language-js"><code class=" language-js"> <font size="4"<span class="token keyword">
        var</span> myImage <span class="token operator">=</span> document<span class="token punctuation">.</span><span class="token function">createElement</span><span class="token punctuation">(</span><span class="token string">'img'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
        myImage<span class="token punctuation">.</span><span class="token function">setAttribute</span><span class="token punctuation">(</span><span class="token string">'src'</span><span class="token punctuation">,</span><span class="token string">'http://www.reactiongifs.com/r/hsk.gif'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
        document<span class="token punctuation">.</span><span class="token function">querySelector</span><span class="token punctuation">(</span><span class="token string">'h1'</span><span class="token punctuation">)</span><span class="token punctuation">.</span><span class="token function">appendChild</span><span class="token punctuation">(</span>myImage<span class="token punctuation">)</span><span class="token punctuation">;</span>
        <span class="line-numbers-rows"><span></span><span></span><span></span></span></code></pre>

<h3><i>Очистка консоли</i></h3>

    <p>
        • Щелкните правой кнопкой мыши в консоли и нажмите <b>Очистить консоль</b>
    </p>
    <p>
        • Введите <b>clear()</b>
</p>
    <p>
        • Введите <b>console.clear()</b>
</p>
    <p>
        <b>• Ctrl+ L </b>(Mac, Windows, Linux)
</p>
    
<h3><i>Сохранение истории</i></h3>
<p>Щелкните правой кнопкой мыши в консоли и выберите <b>«Сохранить как»</b>, чтобы сохранить вывод консоли в файл журнала.</p>
<p class="picture">
    <img src="https://developers.google.com/web/tools/chrome-devtools/console/images/console-save-as.png" class="img-rounded" width="50%" height="50%" vspace="5" hspace="20" alt="Это абсолютный адрес размещения изображения">
</p>

<p>Вкладка <b>Source </b> по сути является встроенным в инструменты разработчика редактором кода.
И показывает всё, что подключено к сайту.
</p>

<p>По рисунку видно, что подключены таблицы стилей (css), java-скрипты (js) и пр.
Если выбрать какой-то конкретный файл, то справа появляется <b>поле для редактирования</b>. 
    Можно открывать как js и css, так и графические или шрифтовые файлы. И даже редактировать их и сохранять на диск.
</p>
<p><i>Google Chrome:</i></p>
<p class="picture">
    <img src="http://ipic.su/img/img7/fs/2017-11-03_04-40-34.1509666093.png" class="img-rounded" width="70%" height="70%" vspace="5" hspace="20" alt="Это абсолютный адрес размещения изображения">
</p>

<p> Открытые файлы появляются во вкладках, что еще больше приближает этот инструмент к редакторам кода, как и нумерация строк, и информация о текущей позиции курсора.
<b>Content scripts</b> фильтрует из всех файлов только скрипты.
</p>
<h2>Проверка времени загрузки страницы</h2>

<p><b>Вкладка Network.</b> Все мы с помощью неё не раз скачивали музыку:) Она помогает эффективно отслеживать ресурсы, связанные с текущей веб-страницей, 
    на ней можно смотреть в какой последовательности загружаются элементы сайта. </p>
<p class="picture">
    <img src="http://ipic.su/img/img7/fs/2017-11-03_03-31-24.1509662022.png" class="img-rounded" width="70%" height="70%" vspace="5" hspace="20" alt="Это абсолютный адрес размещения изображения">
</p>

<p>Кроме того, можно сделать скриншоты рендеринга страницы, используя опцию <b>«Filmstrip»</b>. Нажав на иконку камеры и перезагрузив страницу, можно просмотреть её скриншоты на разных стадиях процесса загрузки. Таким способом реально узнать, что видят пользователи на каждом этапе.</p>
<p>Инструмент <b>Performance</b> очень похож на <b>Network</b>. Здесь мы также можем протестировать сайт, посмотреть скорость загрузки.</p>
<p class="picture">
    <img src=" http://ipic.su/img/img7/fs/2017-11-03_03-42-32.1509662642.png" class="img-rounded" width="70%" height="70%" vspace="5" hspace="20" alt="Это абсолютный адрес размещения изображения">
</p>
<h2>Поиск небезопасных элементов на странице во время перехода на HTTPS</h2>

<p>Инструменты разработчика Chrome также могут сослужить хорошую службу во время перехода на HTTPS. С помощью вкладки <b>«Security»</b> можно будет найти небезопасные элементы на любой странице.
    Здесь можно посмотреть, насколько страница безопасна и есть ли у неё валидный HTTPS-сертификат, проверить тип соединения и наличие смешанного содержимого.</p>
